* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.main {
  height: 100vh;
  background-color: #ececec;
}
nav {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4vw;
  /* border-bottom: 2px solid #dadada; */
}
nav h1 {
  font-size: 3vw;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 2vw;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 2vw;
}

.hero {
  height: 85vh;
  display: flex;
  padding: 0 4vw;
}

.left {
  width: 50%;
  height: 100%;
  font-size: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left span {
  color: #0569c2;
}
.left button {
  margin-top: 3vw;
  width: 17vw;
  background-color: #367ebd;
  padding: 1vw 2vw;
  border-radius: 4px;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.5vw;
  cursor: pointer;
}
.right {
  width: 50%;
  height: 100%;
  padding: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right img {
  width: 100%;
}
.menu{
    display: none;
}
@media (max-width: 700px) {
  nav {
    padding: 0 7vw;
  }
  .menu{
    display: block;
    font-size: 2rem;
  }
  nav ul {
    display: block;
    position: fixed;
    background-color: #fff;
    height: 100vh;
    width: 100%;
    top: 0;
    right: -100%;
    padding: 3rem 4rem;
    transition: all ease-in-out .7s;
    padding-top: 5rem;
  }
  nav ul li{
    margin-top: 1rem;
  }
  nav ul li a{
    font-size: 3rem;
  }
  nav h1 {
    font-size: 3rem;
  }
  .hero {
    flex-direction: column;
    padding: 0 7vw;
  }
  .left {
    width: 100%;
    font-size: 2rem;
    display: block;
    margin-top: 2rem;
    height: auto;
  }
  .left button {
    font-size: 2rem;
    width: 20rem;
    margin-top: 2rem;
  }
  .right {
    width: 100%;
  }
}
